# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # inputs:
    #   tag_name:
    #     description: 'The Git tag for this release (e.g., v1.0.0, v1.0.1)'
    #     required: true
    #     type: string
    # Inputs the workflow accepts.


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - uses: actions/checkout@v4
      name: checkout the repod pack
    - name: go into pack dir
      run: cd $GITHUB_WORKSPACE
    - name: repack the pack
      run: zip -r pack.zip pack.mcmeta pack.png assets/ LICENSE
    
    - name: upload pack
      run: "curl --request POST --url 'https://civlabs.org/filebrowser/api/resources?path=%2Fcontent%2Fdownloads%2Fpack.zip&source=srv&override=true' --header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiIiLCJuYW1lIjoiUmVzb3VyY2UgUGFjayBHaXRodWIgQVBJIEtleSIsImNyZWF0ZWRBdCI6MTc1OTQzMzgwMiwiZXhwaXJlc0F0IjoxNzY3MjA5ODAyLCJiZWxvbmdzVG8iOjEsIlBlcm1pc3Npb25zIjp7ImFwaSI6ZmFsc2UsImFkbWluIjpmYWxzZSwibW9kaWZ5Ijp0cnVlLCJzaGFyZSI6ZmFsc2UsInJlYWx0aW1lIjpmYWxzZX19.2BbXJOkmjt6t9P-3T1lbxuq-aOpmdKBDsyoeRKAeUcg' --header 'Content-Type: application/zip' --header 'accept: application/json' --data-binary @pack.zip"

    - name: upload pack 2
      run: "curl --request POST --url 'https://filebrowser.civlabs.org/api/resources?path=%2Fcontent%2Fpack.zip&source=srv&override=true' --header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiIiLCJuYW1lIjoicmVzb3VyY2UgcGFjayB1cGRhdGUga2V5IiwiY3JlYXRlZEF0IjoxNzY0MzQ0NTAyLCJleHBpcmVzQXQiOjE3NzIxMjA1MDIsImJlbG9uZ3NUbyI6MSwiUGVybWlzc2lvbnMiOnsiYXBpIjpmYWxzZSwiYWRtaW4iOmZhbHNlLCJtb2RpZnkiOnRydWUsInNoYXJlIjpmYWxzZSwicmVhbHRpbWUiOmZhbHNlLCJkZWxldGUiOnRydWUsImNyZWF0ZSI6dHJ1ZSwiZG93bmxvYWQiOmZhbHNlfX0.h0GdTkasCMA6nRvmx-Yur1e8PtzcvF_4Ye_qqrkLJAQ' --header 'Content-Type: application/zip' --header 'accept: application/json' --data-binary @pack.zip"
